.register-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.register-modal_opened {
  display: flex;
}

.register-modal__content {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  max-width: 496px;
  text-align: left;
  width: 100%;
  position: relative;
}

.register-modal__title {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.register-modal__close {
  background-image: url("/close.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.register-modal__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.register-modal__label {
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  color: #000000;
  display: block;
}

.register-modal__input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  width: 100%;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 0;
}

.register-modal__input::placeholder {
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.5;
  color: #000000;
}

.register-modal__submit {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  width: fit-content;
  background-color: rgba(0, 0, 0, 1);
}

.register-modal__submit:hover:enabled {
  background-color: rgba(0, 0, 0, 0.6);
}

.register-modal__submit:disabled {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: not-allowed;
}
